
$glow-color: rgb(255, 0, 212, .8);

@keyframes pulseAfter {
    from {
        transform: rotate(45deg) scale(1) translate(0, 0); 
    }
  
    to {
        transform: rotate(45deg) scale(1.2)  translate(2.5px, 2.5px);
    }
}

@keyframes pulseBefore {
    from {
        transform: rotate(-45deg) scale(1) translate(0, 0); 
    }
  
    to {
        transform: rotate(-45deg) scale(1.2)  translate(-2.5px, 2.5px);
    }
}

@keyframes glow {
    from {
        -webkit-box-shadow: 0px -1px 18px 1px $glow-color;
        -moz-box-shadow: 0px -1px 18px 1px $glow-color;
        box-shadow: 0px -1px 18px 1px $glow-color;
    }
  
    to {
        -webkit-box-shadow: 0px -1px 18px 3px $glow-color;
        -moz-box-shadow: 0px -1px 18px 3px $glow-color;
        box-shadow: 0px -1px 18px 3px $glow-color;
    }
}

@keyframes enemySpawn {
    from {
        opacity: 0;
    }
  
    to {
        opacity: .8;
    }
}


@keyframes explode {
    0% {
        background-color: black;
    }
    50% {
        background-color: black;
    }
    70% {
        background-color: #8c3600;
    }
    80% {
        background-color: #f1800f;
    }
    90% {
        background-color: #f1d31c;
    }
    100% {
        background-color: rgb(255, 254, 254)
    }
}

@keyframes bombShake {
    0% {
        top: 0px;
        left: 0px;
    }

    60% {
        top: 0px;
        left: 0px;
    }
    65% {
        top: -1px;
        left: -1px;
    }
    75% {
        top: 1px;
        left: 1px;
    }
    78% {
        top: 0px;
        left: 0px;
    }
    80% {
        top: 1px;
        left: -1px;
    }
    82% {
        top: 0px;
        left: 1px;
    }
    84% {
        top: -1px;
        left: -1px;
    }
    86% {
        top: 1px;
        left: 1px;
    }
    88% {
        top: 0px;
        left: 0px;
    }
    90% {
        top: 1px;
        left: -1px;
    }
    91% {
        top: 0px;
        left: 1px;
    }
}

