$color-primary-background: #000814;
$color-primary-background-lighter: #000f25;
$color-secondary-background: #001D3D;
$color-accent: #003566;
$color-light-primary: #FFD60A;
$color-light-secondary: #FFC300;
