.dialog-container {

}

.dialog-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
        display: inline-block;
    }
}

.death-object {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    margin-left: 1em;
    position: relative;
}

h1 {
    text-align: center;
}

.button-container {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.big-fatty-tile, .big-fatty {
    height: 96px;
    width: 96px;
    background-color: red;
    border: 2px black solid;
    z-index: 103;
}

.new-highscore {
    text-align: center;
}

.highscore-form {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        padding: .5em 1em;
    }
    input {
        margin-right: 1em;
        margin-left: 1em;
    }
}