<div class="catalog-wrapper">
    <div class="catalog">
        <div *ngFor="let group of discoverItemData.items">
            <h2>{{group.groupName}}</h2>
            <div *ngFor="let item of group.storageItems" (mouseover)="mouseIn(item)" (mouseout)="mouseOut(item)">
                <span *ngIf="item.discovered"  class="item-container">
                    <span>{{item.name}}</span>            
                    <div [ngClass]="[item.htmlClass, 'tile-object']"></div>
                </span>
                <span *ngIf="!item.discovered" class="not-discovered-span">
                    <span>? ? ? ? ? ? ? ? ?</span>
                </span>
            </div>
        </div>
    </div>
    <div class="hover-item-container" *ngIf="hoverItem != null">     
            <div class="hover-item-header">
                <div [ngClass]="[hoverItem.htmlClass, 'tile-object']"></div>
                <span>{{hoverItem.name}}</span>      
            </div> 
            <div>
                <span class="item-description">{{hoverItem.description}}</span>
            </div>
    </div>
</div>