.catalog {
    margin-right: 4em;
    height: 480px;
    width: 250px;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 2em;
    padding-right: 0;
}

.item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.not-discovered-span, .item-container {
    width: 200px;
    height: 50px;
}

.not-discovered-span {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.tile-object {
    position: initial;
}

.heart {
    position: relative;
}