.catalog {
    height: 480px;
    width: 250px;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 2em;
    padding-right: 0;
}

.item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.not-discovered-span, .item-container {
    width: 200px;
    min-height: 50px;
}

.not-discovered-span {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.tile-object {
    position: initial;
}

.heart {
    position: relative;
}

.catalog-wrapper {
    margin-right: 4em;
    position: relative;
}

.hover-item-container {
    display: inline-block;
    position: absolute;
    width: 100%;
    padding: 1em;
    font-weight: bold;
    // min-height: 100px;
    border: 1px solid black;
    top: 0;
    left: calc(100% - 1px);
    background-color: white;
    z-index: 999;

    -webkit-box-shadow: 0px 10px 14px -5px rgba(158,158,158,1);
    -moz-box-shadow: 0px 10px 14px -5px rgba(158,158,158,1);
    box-shadow: 0px 10px 14px -5px rgba(158,158,158,1);
}

.hover-item-header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    .tile-object {
        margin-right: 1em;
    }
}

.item-description {
    color: gray;
    font-style: italic;
}