<div class="app-container">
    <div class="game-container">
        <div class="hud-container">
            <app-hud></app-hud>
        </div>
        <div class="grid-container">
            <app-grid></app-grid>
        </div>
        
        <div class="bottom-hud">
            <div class="button-container" *ngIf="!gameRunning">
                <button (click)="newGame()">Start</button>
            </div>

            <div class="health-bar-container">
                <app-health-bars></app-health-bars>
            </div>
        </div>
    </div>
</div>