<div class="app-container">
    <h1>GRID GAUNTLET</h1>

    <div class="main-wrapper">

        <div class="catalog-container">
            <app-catalog></app-catalog>
        </div>
    
        <div class="game-container">
            <div class="hud-container">
                <app-hud></app-hud>
            </div>
            <div class="grid-container">
                <app-grid></app-grid>
            </div>
            
            <div class="bottom-hud">
                <div class="button-container" *ngIf="!gameRunning">
                    <button (click)="newGame()">Start</button>
                </div>

                <div class="how-to-play" *ngIf="!gameRunning">
                    <span (click)="howTo()">How to play</span>
                </div>
    
                <div class="health-bar-container">
                    <app-health-bars></app-health-bars>
                </div>
            </div>
        </div>

        <div class="highscores-container">
            <app-highscores></app-highscores>
        </div>

    </div>
</div>