$tile-size: 25px;

.grid-container {
    border: 1px black solid;
    display: inline-block;
}

.hidden-grid-hidden-container {
    display: flex;
}

.middle-container, .hidden-tile-column {
    display: inline-block;
}

.hidden-tile-column {
    width: 27px;

    margin-top: 1px;

    .hidden-tile {
        margin-bottom: -6px;
    }
}

.column-left {
    margin-right: 6px;
}

.column-right {
    margin-left: 6px;
}

.tile-row {
    height: $tile-size;
    width: 100%;
}

.tile {
    display: inline-block;
    position: relative;
    width: $tile-size;
    height: $tile-size;
    border: 1px solid #eee;
}

.hidden-row-top {
    margin-top: -30px;
    position: relative;
    z-index: -1;
}

.hidden-row-bottom {
    margin-bottom: -30px;
    position: relative;
    z-index: -1;
}

.hidden-tile {
    // margin-top: -25px;
    border: 1px solid rgba(0, 0, 0, 0)
}

.player {
    background-color: blue;
    z-index: 100;
}

