

<div class="hidden-grid-hidden-container">
    <div class="hidden-tile-column column-left">
        <div *ngFor="let hiddenTile of grid.hiddenTiles[3]" class="tile hidden-tile">
            <div *ngFor="let obj of hiddenTile.objects"
                [ngClass]="[obj.getHtmlClass(), 'tile-object']"
            ></div>
        </div>
    </div>

    <div class="middle-container">
        <div class="hidden-row-top">
            <div *ngFor="let hiddenTile of grid.hiddenTiles[0]" class="tile hidden-tile">
                <div *ngFor="let obj of hiddenTile.objects"
                    [ngClass]="[obj.getHtmlClass(), 'tile-object']"
                ></div>
            </div>
        </div>

        <div class="grid-container">
            <div class="tile-row" *ngFor="let tileRow of grid.tiles">
                <div class="tile" *ngFor="let tile of tileRow">
                    <div *ngFor="let obj of tile.objects"
                        [ngClass]="[obj.getHtmlClass(), 'tile-object']"
                    ></div>
                </div>
            </div>
        </div>
        
        <div class="hidden-row-bottom">
            <div *ngFor="let hiddenTile of grid.hiddenTiles[2]" class="tile hidden-tile">
                <div *ngFor="let obj of hiddenTile.objects"
                    [ngClass]="[obj.getHtmlClass(), 'tile-object']"
                ></div>
            </div>
        </div>
    </div>

    <div class="hidden-tile-column column-right">
        <div *ngFor="let hiddenTile of grid.hiddenTiles[1]" class="tile hidden-tile">
            <div *ngFor="let obj of hiddenTile.objects"
                [ngClass]="[obj.getHtmlClass(), 'tile-object']"
            ></div>
        </div>
    </div>

</div>

