@import '@angular/material/prebuilt-themes/indigo-pink.css';


html, body {
    margin: 0;
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Chakra Petch', sans-serif;
}

$tile-size: 25px;

.tile-object {
    position: absolute;
    display: inline-block;
    width: $tile-size;
    height: $tile-size;
    border-radius: 50%;
    background-color: lime;
}

button {
    background-color: blue;
    color: white;
    padding: .75em 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

// @import './app/styles/animations.style.scss';
@import './app/styles/enemy.style.scss';
@import './app/styles/items.style.scss';
@import './app/styles/animation-objects.scss';